* {
    box-sizing: border-box;
}
#Background{
    background-color: #dddddd; 
}
#nav-mobile{
    color: #5a5656;
    /* margin-left: 10rem; */
    margin-right: 10%;
}
nav ul li a{
    color: grey;
  }   
.brand-logo{
    background-color: #4aaaa5;
    margin-left: 12%;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    background-color: #ffffff;
    display: grid;
    height: 25%;
    width: 76%;
    grid-template-columns: 2fr .25fr 3fr;
    grid-template-rows: .25fr 1fr 1fr;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#AM_Head{
    grid-area: 1 / 1 / span 1 / span 3;
    color: #4aaaa5;
    border-style: solid;
    border-width: medium;
    border-color: white white lightgray white;
}
#img{
    grid-area: 2 / 1 / span 1 / span 2;
    height: 14rem;
    width: 100%;
    max-width: 15rem;
    margin: inherit;
}
#p1{
grid-area: 2 / 3 / span 1 / span 1;
margin-right: 20px
}
#p2{
    grid-area: 3 / 1 / span 1 / span 3;
    margin: 5px;
    padding: 10px;
}
#colorBox{
    background: #4aaaa5;
    width: 100%;
    height: 10px;
}
.footer{
    text-align: center;
    font-size: 10pt;
    background-color: #666666;
    color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
}
/* I used Materialize on my original project therefore my header max-width has to be 992px */
@media only screen and (max-width: 992px) and (min-width: 768px){
    .brand-logo {
      left: 9% !important;
    }
    #nav-mobile{
      display: block !important;
        }  
    #p1{
       margin-left: 10%;
    }
  }
  /* Tablet Screen */
  @media only screen and (max-width: 768px) and (min-width: 640px){
    .brand-logo {
      left: 12% !important;
    }
    #nav-mobile{
      display: block !important;
    }
      #p1{
        margin-left: 10%;
    }
  }
  /* Phone */
  @media only screen and (max-width: 640px) {
    .brand-logo {
      left: 12% !important;
    }
    #nav-mobile{
      display: block !important;
        }
    #p1{
        margin-left: 10%;
    }
  }